html {
    font-size: 62.5%;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.main {
    position: relative;
    background-color: #ffffff;
    max-width: 50rem;
    height: 400px;
    border-radius: 15px;
    padding: 3rem;
    display: grid;
    grid-template-columns: 40rem;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(88, 86, 86, 0.1);

    transition: all 0.5s ease;
}

.main_header__title {
    color: #505050;
    font-family: sans-serif;
    font-size: 2rem;
}

.main__input_task {
    display: flex;
    max-height: 20px;
}


.main__input_task input {
    width: 100%;
    border: 2px solid #ddd;
    padding: 0.75rem;
    border-style: none;
    border-bottom-style:ridge;
}

.main__input_task input:focus {
  outline: none; 
}

.main__input_task button {
    position: relative;
    margin-left: 10px;
    align-self: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: #505050;
    transition: all 0.3s ease;
}

.main__input_task button:hover {
    background-color: #797878;
    transform: scale(1.15);
}

.main__input_task button img {
    position: absolute;
    top: 4px;
    left: 7px;

    margin-top: 3px;
    justify-self: flex-end;
    max-width: 15px;
    max-height: 15px;
    filter: invert(1);
}

.main_footer__remaining {
    justify-self: start;
    color: #505050;
    font-size: small;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
}


.main_footer__delete{
    justify-self: start;
    color: #505050;
    font-size: small;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
}


.main_footer__delete button{
    position: relative;

    margin-left: 10px;
    align-self: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: #505050;
    transition: all 0.3s ease;
}

.main_footer__delete button:hover {
    background-color: #797878;
    transform: scale(1.2);
}

.main_footer__delete button img {
    position: absolute;
    top: 4px;
    left: 8px;

    margin-top: 3px;
    max-width: 15px;
    max-height: 15px;
    filter: invert(1);
}

.main_list {
    list-style: none;
    padding-left: 0;  
    margin: 0;
    overflow-y: auto;
}

.main_list__task {
    position: relative;
    font-size: smaller;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0.4rem;
    border-style: solid;
    border-radius: 8px;
    color:gray;

    margin-top: 0.5rem;
}

.label__text_task {
    font-size: 1.3rem;
}

.label__do:checked + .label__text_task {
    text-decoration: line-through;
    color: #a9a9a9;
}

.main_list__task .delete_task {
    position: absolute;
    right: 1rem;
    top: 0.1rem;
    justify-self: flex-end;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
}

.main_list__task button img {
    margin-top: 3px;
    max-width: 1rem;
    max-height: 1rem;
}

.error {
    right: 5%;
    top: 0;
    max-width: 35rem;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 0, 0, 0.699);
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.hidden {
    display: none;
}

@media (max-width: 500px){
    .main{
         grid-template-columns: 35rem;
    }

    .error {
        font-size: 1.1rem;
    }
}
@media (max-width: 450px){
    .main{
         grid-template-columns: 30rem;
    }

    .error {
        font-size: 1.1rem;
    }
}

@media (max-width: 400px){
    .main{
         grid-template-columns: 28rem;
    }

    .error {
        font-size: 1.1rem;
    }

}
@media (max-width: 350px){
    .main{
        grid-template-columns: 26rem;
    }

    .error {
        font-size: 1.1rem;
    }
}
@media (min-width: 800px){

    .main{
         grid-template-columns: 50rem;
    }
}